<h1>Images Index</h1>
<ul>
<% @images.each do |image| %>
  <li><%= image.name %> <img src="<%= image.url %>" alt="light bulb"> <%= link_to "Delete", admin_image_path(image), method: :delete %></li>

<% end %>
</ul>
<%= link_to "New Image", new_admin_image_path  %>
